@(title: String)
<!DOCTYPE html>
<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/mui.min.css")">
    </head>
    <body>
        <h1>Movies</h1>
        <h2>Action/Adventure</h2>
        <!- This be a comment? ->
        <p>This is an example of people writing <a href="http://www.google.com">pages</a> and pages and pages, on and on just 'cause they can.</p>
        <ul>
            <li><a href="/main">First</a></li>
            <li><a href="/titus#caldmorLabel">Second</a></li>
            <li>Third</li>
        </ul>
    </body>
</html>